<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <style>
    /*h1.small {line-height: 20%}*/
    *.small {line-height: 10%}
  </style>
</head>
<body>
  May Node and Express be with you.

  <ul class="quote">


      <h1 class = "small"><%= quote.bookName %></h1>

      <h2 class = "small"><b>by <%= quote.author %></b></h2>
      <p>on <%= quote.date %></p>

      <h2> <%= quote.blogPost %></h2>
    

  </ul>

</body>
</html>
